<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<bean id="triangle" class="com.springdemo.concept.Triangle" name="triangle-name">
	<property name="pointA" ref="pointone"/>
	<property name="pointB">
		<bean class="com.springdemo.concept.Point">
			<property name="x" value="1"/>
			<property name="y" value="4" />
	   </bean>
	</property>
	<property name="pointC" >
	<bean class="com.springdemo.concept.Point">
	<property name="x" value="23"/>
	<property name="y" value="2"/>
	</bean>
	</property>
	</bean>
	
	<bean id="pointone" class="com.springdemo.concept.Point">
	<property name="x" value="0"/>
	<property name="y" value="30"/>
	</bean>
	<alias name="triangle" alias="triangle-alias"/>
	
</beans>